<!doctype html>
<html>
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Hiren || Movie Info </title>
    <link rel="stylesheet" href="//netdna.bootstrapcdn.com/bootstrap/3.1.1/css/bootstrap.min.css">
    <link rel="stylesheet" href="{{ url_for('static' , filename='uhlala.css') }}"/>
    <link rel="shortcut icon" href="{{ url_for('static', filename='favicon.ico')" />
</head>
<body>
<div class="container">
    <nav class="navbar navbar-default">
        <a class="navbar-brand" href="/">Hiren</a>
    </nav>
</div>
<div class="container">
    {% block content %}
    {% endblock content%}
</div>
</body>
</html>