{% extends "base.html" %}
        {% block content %}

        <form action="/result" role="form" method="POST">
            <div class="form-group">
                <label >Enter Movie Name</label>
                <input type="text" class="form-control" name="movie" placeholder="Name of the movie " required>
            </div>
            <div class="form-group">
                <label >Enter Release Year</label>
                <input type="number" class="form-control" name="year" placeholder="Year is optional">
            </div>
            <button type="submit" class="btn btn-default">Submit</button>
        </form>

        {% endblock content %}